// Override bootstrap variables before importing bootstrap, that's how !default works
$font-family-sans-serif: 'GalanoGrotesqueAlt-Regular', G-apple-system, BlinkMacSystemFont, sans-serif;
$font-size-base: 16px;
$font-size-h1: 48px;
$font-size-h2: 48px;
$font-size-h3: 18px;
$font-size-h4: 13px;

// Custom variables
$colorPink: #FCD9DC;
$colorBlue: #0E2247;

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "fonts";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 2;
    padding-top: 40px;
    background-color: $colorPink;
    background-image: url(../images/cells.svg);
    background-repeat: no-repeat;
    background-position: 123% -210px;
}

.bg-light {
    color: $colorBlue;
}

.bg-dark {
    background-color: $colorBlue;
    color: $colorPink;
}

.container-fluid {
    padding: 40px 80px;
}

.top-row {
    padding-bottom: 50px;
}

.custom-shape-divider-bottom-1598558841 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1598558841 svg {
    position: relative;
    display: block;
    width: calc(186% + 1.3px);
    height: 86px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1598558841 .shape-fill {
    fill: #0E2247;
}

.vision {
    padding: 10px 10px 10px 0;
    font-size: 22px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: 'GalanoGrotesqueAlt-Black';
    text-rendering: optimizeLegibility
}

h2 {
    padding: 30px 0;
}

h3 {
    padding-bottom: 10px;
}

h4 {
    text-transform: uppercase;
    line-height: 1.5;
}

// screen size optimizations
// -------------------------
// tablets and such
@media (max-width: $screen-md-max) {

}

@media (max-width: $screen-sm-max) {
    .container-fluid {
        padding: 40px;
    }
    h2 {
        font-size: 38px;
        padding: 20px 0;
    }
}

// phones and such
@media (max-width: $screen-sm-min) {
    .container-fluid {
        padding: 20px;
    }
    h1, h2 {
        font-size: 28px;
    }
}
