// Override bootstrap variables before importing bootstrap, that's how !default works
$font-family-sans-serif: 'GalanoGrotesqueAlt-Regular', G-apple-system, BlinkMacSystemFont, sans-serif;
$font-size-base: 16px;
$font-size-h1: 42px;
$font-size-h2: 42px;
$font-size-h3: 18px;
$font-size-h4: 13px;

// Custom variables
$colorPink: #FCD9DC;
$colorBlue: #0E2247;

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "fonts";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 2;
    background-color: $colorBlue;
}

.bg-light {
    background-color: $colorPink;
    color: $colorBlue;
}

.bg-dark {
    color: $colorPink;
}

.container-fluid {
    padding: 40px 80px;
}

.top-container {
    padding-top: 80px;
    background-image: url(../images/cells.svg);
    background-repeat: no-repeat;
    background-position: 116% -260px;
    background-size: 50%;
}

.top-row {
    padding-bottom: 50px;
}

.custom-shape-divider-bottom-1598558841 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1598558841 svg {
    position: relative;
    display: block;
    width: calc(186% + 1.3px);
    height: 65px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1598558841 .shape-fill {
    fill: #0E2247;
}

.vision {
    padding: 15px 15px 10px 0;
    font-size: 20px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

.text-important {
    font-family: 'GalanoGrotesqueAlt-SemiBold';
}

.light-cells {
    max-width: 200px;
    height: auto;
    object-fit: scale-down;
    margin: 30px 50px 0 0;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: 'GalanoGrotesqueAlt-Black';
    text-rendering: optimizeLegibility
}

.input {
    display: table;
    width: 100%;
}

.button {
    height: 44px;
    border: none;
}

#mce-EMAIL {
    width: 74%;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}

#mc-embedded-subscribe {
    width: 24%;
    height: 44px;
    background: $colorPink;
    font-family: inherit;
    font-weight: bold;
    color: $colorBlue;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

#mc-embedded-subscribe:hover {
    background: darken($colorPink, 10%);
}

#mce-responses {

}

div.response {
    margin: 7px 12px 0 0 !important;
    padding: 5px 10px !important;
    line-height: 1.5;
    font-weight: normal !important;
    border-radius: 5px;

    a {
        color: inherit !important;
        text-decoration: underline;
    }
}

#mce-error-response {
    display: none;
    color: $colorBlue;
    background-color: lighten($colorBlue, 70%) !important;
}

div.mce_inline_error {
    margin: 7px 12px 0 0 !important;
    padding: 5px 10px !important;
    color: darken($colorPink, 30%) !important;
    background-color: lighten($colorBlue, 70%) !important;
    font-weight: normal !important;
    border-radius: 5px;
}

#mce-success-response {
    display: none;
    color: $colorBlue;
    font-family: 'GalanoGrotesqueAlt-SemiBold';
    background-color: lighten($colorBlue, 70%) !important;
}

label.error {

}

.clear {
    clear:both;
}

input:focus {
    outline: none;
}

// screen size optimizations
// -------------------------
// tablets and such
@media (max-width: $screen-md-max) {

}

@media (max-width: $screen-sm-max) {
    .container-fluid {
        padding: 40px;
    }
    h2 {
        font-size: 38px;
        padding: 20px 0;
    }
}

// phones and such
@media (max-width: $screen-sm-min) {
    .container-fluid {
        padding: 20px;
    }
    h1, h2 {
        font-size: 28px;
    }
}
