* {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #34383b;
    background-color: #fff;
		margin: 0px;
		padding: 80px;
		border: 8px solid #f37d4d;
		font-family: GalanoGrotesqueAlt-Regular, G-apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 1rem;
    line-height: 2;
		position: relative;

}

a {
    color: #f37d4d;
    transition: color .08s
}

h1, h2, h3, h4 {
    line-height: 1.2;
    text-rendering: optimizeLegibility
}

h1 {
		font-family: GalanoGrotesqueAlt-Bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

h2 {
		font-family: GalanoGrotesqueAlt-Bold;
    font-size: 1.2rem;
}


h4 {
		font-family: GalanoGrotesqueAlt-Bold;
    font-size: 3rem;
}

h3 {
  	font-family: GalanoGrotesqueAlt-Bold;
    font-size: 3rem;
    color: #D1D6D9;
}

.content {
    max-width:640px;
    margin-top: 40px;
}

.header {
    max-width: 640px;
}

.hand {
    position: fixed;
    left: 100%;
    margin-left: -104px;
    margin-top: -16px;
}

.column {
    min-width: 33%;
    margin-right: 40px;

}

.column-c {
    text-align: center;
}

.flex {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
}

.flex > div {
    flex: 1 1 auto;

}

hr {
    max-width: 1024px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D1D6D9;
    margin: 1em 0;
    padding: 0;
}

.bruce {
    margin-top: 40px;
}
