* {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #34383b;
    background-color: #fff;
		margin: 0px;
		padding: 80px;
		border: 8px solid #f37d4d;
		font-family: Helvetica, G-apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 1rem;
    line-height: 2;
		position: relative;
    height: 100%
}

a {
    color: #2391d3;
    text-decoration: none;
    transition: color .08s
}

a:hover, a:focus {
    color: #17618d
}

h1, h2, h3, h4 {
    line-height: 1.2;
    text-rendering: optimizeLegibility
}


h4 {
		font-family: GalanoGrotesqueAlt-Bold;
    font-size: 3rem;
}

h3 {
  	font-family: GalanoGrotesqueAlt-Bold;
    font-size: 1.2rem;
}

.content {
    max-width: 480px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header {
    max-width: 480px;
    margin-bottom: 40px;
}

.hand {
  position: fixed;
      left: 100%;
      margin-left: -128px;
      margin-top: -36px;
}

.flex {
        /* basic styling */
        max-width: 1024px;

        /* flexbox setup */
        display: flex;
        flex-direction: row;
}

.flex > div {
        flex: 1 1 auto;
        width: 30px;
}
