// Override bootstrap variables before importing bootstrap, that's how !default works
$font-family-sans-serif: 'Inter', 'GalanoGrotesqueAlt-Regular', G-apple-system, BlinkMacSystemFont, sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 3rem;
$h3-font-size: 1.2rem;
$h4-font-size: 0.9rem;

// Custom variables
$colorPirange: #E37462;
$colorLightgray: #D1D6D9;
$colorText: #34383b;

@import "bootstrap";
@import "node_modules/lightgallery/scss/lightgallery.scss";
@import "fonts";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: $colorText;
  border: 8px solid $colorPirange;
  line-height: 2;
}

.container-fluid {
  padding: 80px;
}

.do-your-own-thing {
  margin-top: 22px;
  margin-bottom: 11px;
}

.fixed {
  position: fixed;
}

.right-hand {
  float: right;
}

.top-row {
  padding-bottom: 50px;
}

.tlpfb {
  width: 80%;
  height: auto;
}

.background-pirange {
  background-color: $colorPirange;
  color: white;
  padding: 30px 20px;
  margin-top: 35px;
  h2 {
    color: white;
    padding-top: 0;
    margin: 0;
  }
  img {
    padding-bottom: 15px;
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .pria {
    font-size: smaller;
  }
}

.bottle {
  width: 100%;
  max-width: 190px;
  display: block;
  margin: auto;
}

.can {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

.large-bottle {
  max-width: 250px !important;
}

.beer-icon-wrapper {
  padding: 5px 0 10px 0;
}

.beer-description {
  padding-bottom: 10px;
}

.availability {
  padding-bottom: 30px;
  font-style: italic;
}

.vision {
  color: #8D989F;
}

a {
  color: $colorPirange;
  transition: color .08s
}

a:hover {
  color: $colorPirange;
  text-decoration: underline;;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  font-family: 'GalanoGrotesqueAlt-Black';
  text-rendering: optimizeLegibility
}

h2 {
  color: $colorLightgray;
  padding: 30px 0;
  margin-top: 22px;
  margin-bottom: 11px;
}

h3 {
  padding-bottom: 10px;
  margin-top: 22px;
  margin-bottom: 11px;
}

h4 {
  text-transform: uppercase;
  line-height: 1.5;
}

hr {
  height: 4px;
  border: 0;
  border-top: 4px solid $colorLightgray;
  opacity: 0.40;
  margin: 1em 0;
  padding: 0 0 20px 0;
}

.faces {
  margin-top: 50px;
  img {
    height: 115px;
    max-height: 50%;
    display: block;
  }
}

// screen size optimizations
// -------------------------
// tablets and such
@media (max-width: map-get($container-max-widths, "md")) {
  .bottle {
    max-width: 180px;
  }
}


@media (max-width: map-get($container-max-widths, "sm")) {
  .container-fluid {
    padding: 40px;
  }
  .bottle {
    margin-top: 8px;
  }
  h2 {
    font-size: 38px;
    padding: 20px 0;
  }
}

// phones and such
@media (max-width: map-get($container-max-widths, "sm")) {
  body {
    border-width: 4px;
  }
  .container-fluid {
    padding: 20px;
  }
  .bottle {
    margin-top: 16px;
  }
  .beer-icon {
    max-width: 40px;
  }
  h1, h2 {
    font-size: 28px;
  }
}

#lightgallery {
  a, a:hover, a:active, a:focus {
    text-decoration: none;
  }
  img {
    padding: 4px 4px 7px 4px;
  }
}

.lg-backdrop {
  background-color: white !important;
}

.lg-toolbar, .lg-prev, .lg-next, .lg-close {
  background-color: transparent !important;
  color: #CCCCCC !important;
}
